h1{
    text-align: center;
    color: #333;
    font-size: 200px;
}
button {
    display: block;
    text-align: center;

    margin: auto;
    padding: 10px 20px;
    font-size: 70px;
    width: 200px;
    height: 200px;
    border-radius:10px ;
    cursor: pointer;
}